<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
  <interceptors>
    <class>org.jboss.errai.security.server.ServerSecurityRoleInterceptor</class>
  </interceptors>
  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_KeycloakActivatorServiceImpl" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_MessageServiceImpl$1$1" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_MessageServiceImpl$1$2" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_MessageServiceImpl$1$3" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_MessageServiceImpl$1" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_MessageServiceImpl" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_AuthenticationServiceImpl$1$1" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_AuthenticationServiceImpl$1$2" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_AuthenticationServiceImpl$1$3" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_AuthenticationServiceImpl$1" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_AuthenticationServiceImpl$2$1" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_AuthenticationServiceImpl$2$2" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_AuthenticationServiceImpl$2$3" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_AuthenticationServiceImpl$2" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_AuthenticationServiceImpl$3$1" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_AuthenticationServiceImpl$3$2" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_AuthenticationServiceImpl$3$3" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_AuthenticationServiceImpl$3" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_AuthenticationServiceImpl$4$1" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_AuthenticationServiceImpl$4$2" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_AuthenticationServiceImpl$4$3" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_AuthenticationServiceImpl$4" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_AuthenticationServiceImpl" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$1org_jboss_errai_security_shared_service_NonCachingUserServiceImpl" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$2" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$3" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl$4" />
    <exclude name = "org.jboss.errai.bus.client.local.RpcProxyLoaderImpl" />
    <exclude name = "org.jboss.errai.enterprise.client.local.JaxrsProxyLoaderImpl$1" />
    <exclude name = "org.jboss.errai.enterprise.client.local.JaxrsProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_AdminServiceImpl$1$1" />
    <exclude name = "org.jboss.errai.enterprise.client.local.JaxrsProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_AdminServiceImpl$1$10" />
    <exclude name = "org.jboss.errai.enterprise.client.local.JaxrsProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_AdminServiceImpl$1$2" />
    <exclude name = "org.jboss.errai.enterprise.client.local.JaxrsProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_AdminServiceImpl$1$3" />
    <exclude name = "org.jboss.errai.enterprise.client.local.JaxrsProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_AdminServiceImpl$1$4" />
    <exclude name = "org.jboss.errai.enterprise.client.local.JaxrsProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_AdminServiceImpl$1$5" />
    <exclude name = "org.jboss.errai.enterprise.client.local.JaxrsProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_AdminServiceImpl$1$6" />
    <exclude name = "org.jboss.errai.enterprise.client.local.JaxrsProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_AdminServiceImpl$1$7" />
    <exclude name = "org.jboss.errai.enterprise.client.local.JaxrsProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_AdminServiceImpl$1$8" />
    <exclude name = "org.jboss.errai.enterprise.client.local.JaxrsProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_AdminServiceImpl$1$9" />
    <exclude name = "org.jboss.errai.enterprise.client.local.JaxrsProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_AdminServiceImpl$1" />
    <exclude name = "org.jboss.errai.enterprise.client.local.JaxrsProxyLoaderImpl$1org_jboss_errai_security_demo_client_shared_AdminServiceImpl" />
    <exclude name = "org.jboss.errai.enterprise.client.local.JaxrsProxyLoaderImpl" />
    <exclude name = "org.jboss.errai.security.demo.client.local.AdminPage" />
    <exclude name = "org.jboss.errai.security.demo.client.local.App" />
    <exclude name = "org.jboss.errai.security.demo.client.local.Keycloak" />
    <exclude name = "org.jboss.errai.security.demo.client.local.KeycloakActivator$1" />
    <exclude name = "org.jboss.errai.security.demo.client.local.KeycloakActivator" />
    <exclude name = "org.jboss.errai.security.demo.client.local.LoginForm$1" />
    <exclude name = "org.jboss.errai.security.demo.client.local.LoginForm$2" />
    <exclude name = "org.jboss.errai.security.demo.client.local.LoginForm$3" />
    <exclude name = "org.jboss.errai.security.demo.client.local.LoginForm" />
    <exclude name = "org.jboss.errai.security.demo.client.local.Messages$1$1" />
    <exclude name = "org.jboss.errai.security.demo.client.local.Messages$1" />
    <exclude name = "org.jboss.errai.security.demo.client.local.Messages$2" />
    <exclude name = "org.jboss.errai.security.demo.client.local.Messages$3$1" />
    <exclude name = "org.jboss.errai.security.demo.client.local.Messages$3" />
    <exclude name = "org.jboss.errai.security.demo.client.local.Messages" />
    <exclude name = "org.jboss.errai.security.demo.client.local.NavBar" />
    <exclude name = "org.jboss.errai.security.demo.client.local.NavigationWrapper" />
    <exclude name = "org.jboss.errai.security.demo.client.local.SecurityErrorPage" />
    <exclude name = "org.jboss.errai.security.demo.client.local.WelcomePage$1" />
    <exclude name = "org.jboss.errai.security.demo.client.local.WelcomePage$2" />
    <exclude name = "org.jboss.errai.security.demo.client.local.WelcomePage" />
    <!-- End of Errai exclusions -->
  </scan>
</beans>
